// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.tile-card {
    margin:5px;
    min-width: 200px;
    height: 100px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    border-radius: 4px;
    padding:10px;
    color: #283593;
    flex-direction: column;

    p {
        text-align: center;
    }

    i{
        font-size: 32px;
        text-align: center;
    }
}

.tile-card:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
    i {
      font-size: 36px;
      transition: all 0.3s;
     }
}

.tile-content {
    margin: auto;
}

.card-table {
    overflow-x:auto;
}


/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa {
right: -12px;
cursor: pointer;
top:28px;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}


.ui-autocomplete-loading {
    background: white url("/img/ui-anim_basic_16x16.gif") right center no-repeat;
}

